.my-div1,
.my-div2,
.my-div3,
.my-div4{
    width: 400px;
    height: 400px;
    background-image: url(../14.jpg);
}


/* The background does not repeat */

.my-div1{
    
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
}




.my-div2{
   
    background-repeat: repeat-y;
    background-size: contain;
    background-position: right;
}



.my-div3{
   
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    
}





.my-div4{
   
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: contain;
    
    
}